[submodule "themes/nix"]
	path = themes/nix
	url = git@github.com:LordMathis/hugo-theme-nix.git
[submodule "public"]
	path = public
	url = git@github.com:cfrome77/cfrome77.github.io.git
	branch = master
